<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To Do List v1</title>
	</head>
	<body>
		<h1>Today is <%= day %></h1>

		<form action="/" method="post">
			<input type="text" name="newItem" placeholder="Write your ToDo's here!" />
			<button type="submit">Add</button>
		</form>
		<ul>
			<% for(let i = 0; i < items.length; i++){ %>
			<li><%=items[i]%></li>
			<% } %>
		</ul>
	</body>
</html>
